
@import url('https://fonts.googleapis.com/css?family=Oswald');


body{
  background-color: "#d8edf3";
  font-family: 'Oswald', sans-serif;
  font-size:15px;
}
rect{
  border: 5px solid red;
}
div{
  float:left;
}
p{
  float:left;
}
h1{
  position:fixed;
  top:5px;
  left:430px;
  font-size:30px;


}
